[submodule "be-analytics-api"]
	path = be-analytics-api
	url = https://github.com/veda-marketplace/be-analytics-api.git
[submodule "be-contracts"]
	path = be-contracts
	url = https://github.com/veda-marketplace/be-contracts.git
[submodule "fe-platform"]
	path = fe-platform
	url = https://github.com/veda-marketplace/fe-platform.git
[submodule "documents"]
	path = documents
	url = https://github.com/veda-marketplace/documents.git
[submodule "be-discord-bot"]
	path = be-discord-bot
	url = https://github.com/veda-marketplace/be-discord-bot.git